.search {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.search-text {
  margin-left: 24px;
  font-family: var(--vp-font-family-base);
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.75;
  letter-spacing: 0.2em;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.search-text:hover {
  background: rgba(255, 255, 255, 0.2);
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 99;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  top: 10vh;
  background: var(--vp-c-bg-soft);
  width: 45%;
  min-width: 225px;
  max-width: 600px;
  max-height: 500px;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  padding: 12px;
  box-sizing: border-box;
}

.input-box {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  min-height: 35px;
  max-height: 35px;
  margin-bottom: 6px;
}

.input-box input {
  width: 100%;
  padding: 6px;
  font-size: 14px;
  font-family: var(--vp-font-family-base);
  padding-left: 12px;
  padding-right: 12px;
}

.search-time {
  font-size: 10px !important;
  padding-left: 4px;
}

.result {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  margin-top: 6px;
}

.result .title {
  font-size: 16px;
  font-weight: 600;
}

.result .content {
  font-size: 12px;
  overflow-wrap: break-word !important;
}

.result .link {
  font-size: 10px;
}

.search-results {
  padding-right: 12px;
  min-height: calc(500px - 75px - 12px);
  max-height: calc(500px - 75px - 12px);
  overflow-y: auto;
}

.strict-mode {
  background: rgba(192, 255, 83, 0.2);
}
